[*.cs]
csharp_prefer_braces = true:warning

csharp_preserve_single_line_blocks = true

csharp_style_var_when_type_is_apparent = true:warning
csharp_style_pattern_matching_over_is_with_cast_check = true:warning

dotnet_style_require_accessibility_modifiers = never:warning
